@import "../../assets/styles/global.css";

#root {
  width: 100%;
  text-align: center;
}

.logo {
  height: 1.5em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo.breadboard:hover {
  filter: drop-shadow(0 0 2em #ffac03);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

header {
  display: flex;
  flex-direction: row;
  background-color: var(--buttonColor);
  color: var(--white);
  align-items: center;
  justify-content: flex-start;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid var(--buttonLight);
  padding: 0 0 1em 2.5em;
  margin: 0 0.5em 0 0.5em;
  font-size: xx-small;
}

.outputForm {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.output {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 2em 1em 2em;
  text-align: left;
}
