#root {
  width: 100%;
  text-align: center;
}

.logo {
  height: 1.5em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo.breadboard:hover {
  filter: drop-shadow(0 0 2em #ffac03);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #feeac6;
  align-items: center;
  justify-content: flex-start;
}

main {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

input {
  line-height: 1.5em;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  box-sizing: border-box;
  border-style: unset;
  color: #e3e3e3;
  border: 0.1em solid#feeac6;
  width: 100%;
}

button {
  background-color: #feeac6 !important;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid #feeac6;
  padding-left: 1.5em;
}
