@import "../../assets/styles/global.css";

aside ul {
  list-style: none;
}

ul {
  padding: 0 0.2em 0 1em;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-left: 1px solid var(--buttonColor);
  padding: 12px;
}

.settings {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: start;
  align-items: start;
  border: 1px solid var(--buttonColor);
}
